<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>école direct</title>
</head>
<body>
        <link rel="stylesheet" href="/templates/css/index.css" type="text/css">
	<div class="scroll">
		<div class="link">
			<a href="{{lien[0]}}">{{lien[0]}}</a>
		</div>
		<div class="link">
                        <a href="{{lien[1]}}">{{lien[1]}}</a>
                </div>
		<div class="link">
                        <a href="{{lien[2]}}">{{lien[2]}}</a>
                </div>
	</div>

</body>
</html>
 