<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge>
    <meta name="viewport" content="width=device-width>
    <title>notes</title>
</head>
<body>  

		
    	<div class="boite"></div>
    	<div class="HIGEO boite">
    		<h1>histoire géographie</h1>
    	</div>
    	<div class="ALL2 boite"><h1>allemand</h1></div>
    	<div class="PH-CH boite"><h1>physique chimie</h1></div>
    	<div class="AGL1 boite"><h1>anglais</h1></div>
    	<div class="MATHS boite"><h1>mathématique</h1></div>
    
    
    {%for i in json_object['notes']%}
        	<script>
	        	node = document.createTextNode("{{i['valeur']}} ");
	        	document.getElementsByClassName("{{i['codeMatiere']}}")[0].appendChild(node);
    		</script>
    {%endfor%}
    	
    


</body>
</html>
<style>
* {
	color: #ffd;
}
body, html {
	margin: 0px;
	padding: 0px;
	background: #333;
}
.boite {
	padding: 25px;
	border: 1px solid #ffd;
	border-radius: 25px;
	margin: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.boite h1 {
	text-align: center;
	margin-bottom: 25px;
}
.boite text {
	display: flex;
	color: #33ff33;
}


</style>
