<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travail</title>
</head>
<body>
    <link rel="stylesheet" href="/templates/css/travail.css" type="text/css">

    {%for i in json_object.keys()%}
        <div class="jours" onclick="window.location='./travail/{{i}}'"><h1>travail a faire pour le: {{i}}</h1>
        {%for y in json_object[i]%}
            <p>{{y['matiere']}}: 
                {%if y['interrogation'] == True%}
                    c'est une intéro !!!!!
                {%else%}
                    c'est des devoirs 
                {%endif%}
            </p>
        {%endfor%}
        </div>
    {%endfor%}
</body>
</html>
	
 